@font-face {
  font-family: 'myFont';
  src: url('font/xingshu.ttf');
}
body {
  background-color: #f1f1f1;
}
* {
  margin: 0;
  padding: 0;
}
.mt-20 {
  margin-top: 20px;
}
h2 {
  font-family: 'myFont';
  text-align: center;
}
.flex-box {
  display: flex;
  flex-flow: column;
  padding: 5%;
  justify-content: center;
}
.flex-box p {
  text-align: center;
}
.flex-box ul {
  flex: 1;
}
.flex-box ul li {
  width: 100%;
  display: flex;
  align-items: center;
}
.flex-box ul li img {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
}
.flex-box .btn {
  text-align: center;
  margin-top: 20px;
}
